.appBody {
  height: 100vh;
}

.step {
  border: none;
  border-left: 3px solid var(--primaryColor);
  min-height: 64px;
}

/* YourNet Cards */
.create-new__group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-new__group-add {
  font-size: 3rem;
}
.group-card {
  width: 200px;
  max-width: 200px;
  height: 250px;
  transition: all 0.3s ease-in-out;
}

.link-card {
  text-decoration: none;
}
.link-card:hover {
  text-decoration: none;
}

.group-card:hover {
  transform: translateY(-5px);
  filter: drop-shadow(0 1mm 1mm rgba(0, 0, 0, 0.637));
}
