* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
q {
  font-family: "Poppins", sans-serif;
}

.landing-hero {
  margin: 0;
  background: linear-gradient(
    144.45deg,
    #42c2f9 27.83%,
    #5aa7f1 64.58%,
    #649bed 79.26%
  ) !important;
  border-radius: 0 !important;
}

.landing-hero h1 {
  text-transform: capitalize;
}

.orange-span {
  color: #f1c179;
}

.intro-image {
  width: 100%;
}

.intro-image img {
  width: 100%;
  border-radius: 50%;
  border: 5px solid #42c2f9;
}
